In [1]:
import pandas as pd
import os.path
import matplotlib.pyplot as plt
import numpy as np
import zipfile
import wget

In [2]:
# can i extract zip directly from lahman??.  do existence checks plus override (delete) in final version
lahman_zip_url = 'https://github.com/chadwickbureau/baseballdatabank/archive/refs/tags/v2022.2.zip'
lahman_zip_file = "./Resources/lahman.zip"

wget.download(url=lahman_zip_url, out=lahman_zip_file)

100% [..........................................................................] 9777886 / 9777886

'./Resources/lahman (1).zip'

In [3]:
zf = zipfile.ZipFile(lahman_zip_file)
# teams_csv = os.path.join("Resources", "baseballdatabank-master", "core", "Teams.csv")

teams_csv = zf.open('baseballdatabank-2022.2/core/Teams.csv')

teams_df = pd.read_csv(teams_csv)
teams_df.head(5)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [4]:
people_csv = zf.open('baseballdatabank-2022.2/core/People.csv')

people_df = pd.read_csv(people_csv)
people_df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [5]:
teams_df.loc[(teams_df["franchID"] == "SDP")].head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
1536,1969,NL,SDN,SDP,W,6,162,81.0,52,110,...,140,0.975,San Diego Padres,Jack Murphy Stadium,512970.0,96,98,SDP,SDN,SDN
1561,1970,NL,SDN,SDP,W,6,162,81.0,63,99,...,159,0.975,San Diego Padres,Jack Murphy Stadium,643679.0,96,98,SDP,SDN,SDN
1585,1971,NL,SDN,SDP,W,6,161,81.0,61,100,...,144,0.974,San Diego Padres,Jack Murphy Stadium,557513.0,93,95,SDP,SDN,SDN
1609,1972,NL,SDN,SDP,W,6,153,80.0,58,95,...,146,0.976,San Diego Padres,Jack Murphy Stadium,644273.0,92,95,SDP,SDN,SDN
1633,1973,NL,SDN,SDP,W,6,162,81.0,60,102,...,152,0.973,San Diego Padres,Jack Murphy Stadium,611826.0,91,94,SDP,SDN,SDN

In [6]:
teams_df.columns
# teams_df["teamID","franchID"]

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [7]:
appearances_csv = zf.open('baseballdatabank-2022.2/core/Appearances.csv')


appearances_df = pd.read_csv(appearances_csv)
appearances_df.head(5)

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,TRO,NaN,abercda01,1,1.0,1,1.0,0,0,...,0,0,1,0,0,0,0,0.0,0.0,0.0
1,1871,RC1,NaN,addybo01,25,25.0,25,25.0,0,0,...,22,0,3,0,0,0,0,0.0,0.0,0.0
2,1871,CL1,NaN,allisar01,29,29.0,29,29.0,0,0,...,2,0,0,0,29,0,29,0.0,0.0,0.0
3,1871,WS3,NaN,allisdo01,27,27.0,27,27.0,0,27,...,0,0,0,0,0,0,0,0.0,0.0,0.0
4,1871,RC1,NaN,ansonca01,25,25.0,25,25.0,0,5,...,2,20,0,1,0,0,1,0.0,0.0,0.0

In [8]:
# more agg games per season = higher likelihood of attracting a crowd
# batting/defense may matter.  what about position?
appearances_df.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'G_all', 'GS', 'G_batting',
       'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf',
       'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr'],
      dtype='object')

In [9]:
appearances_df.shape

(110423, 21)

In [10]:
appearances_trimmed_df = appearances_df[['yearID', 'teamID', 'playerID', 'G_all', 'G_batting', 'G_defense']].loc[appearances_df['yearID'] >= 1995]
appearances_trimmed_df

        yearID teamID   playerID  G_all  G_batting  G_defense
72853     1995    CAL  abbotji01     13          0       13.0
72854     1995    CHA  abbotji01     17          0       17.0
72855     1995    FLO  abbotku01    120        120      115.0
72856     1995    PHI  abbotky01     18         18       18.0
72857     1995    COL  aceveju01     17         17       17.0
...        ...    ...        ...    ...        ...        ...
110418    2021    MIL  zimmejo02      2          2        2.0
110419    2021    KCA  zimmeky01     52          3       52.0
110420    2021    WAS  zimmery01    110        110       54.0
110421    2021    KCA  zuberty01     31          1       31.0
110422    2021    TBA  zuninmi01    109        109      105.0

[37570 rows x 6 columns]

In [11]:
teams_trimmed_df = teams_df[['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'name', 'park', 'attendance', 'BPF', 'PPF']].loc[teams_df['yearID'] >= 1995]
teams_trimmed_df

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,AB,H,2B,3B,HR,name,park,attendance,BPF,PPF
2181,1995,NL,ATL,ATL,E,1,144,72.0,90,54,...,4814,1202,210,27,168,Atlanta Braves,Atlanta-Fulton County Stadium,2561831.0,103,102
2182,1995,AL,BAL,BAL,E,3,144,72.0,71,73,...,4837,1267,229,27,173,Baltimore Orioles,Oriole Park at Camden Yards,3098475.0,102,101
2183,1995,AL,BOS,BOS,E,1,144,72.0,86,58,...,4997,1399,286,31,175,Boston Red Sox,Fenway Park II,2164410.0,103,103
2184,1995,AL,CAL,ANA,W,2,145,72.0,78,67,...,5019,1390,252,25,186,California Angels,Anaheim Stadium,1748680.0,99,99
2185,1995,AL,CHA,CHW,C,3,145,72.0,68,76,...,5060,1417,252,37,146,Chicago White Sox,Comiskey Park II,1609773.0,96,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2980,2021,NL,SLN,STL,C,2,162,81.0,90,72,...,5351,1303,261,22,198,St. Louis Cardinals,Busch Stadium III,2102530.0,92,92
2981,2021,AL,TBA,TBD,E,1,162,81.0,100,62,...,5507,1336,288,36,222,Tampa Bay Rays,Tropicana Field,761072.0,92,91
2982,2021,AL,TEX,TEX,W,5,162,81.0,60,102,...,5405,1254,225,24,167,Texas Rangers,Globe Life Field,2110258.0,99,101
2983,2021,AL,TOR,TOR,E,4,162,80.0,91,71,...,5476,1455,285,13,262,Toronto Blue Jays,Sahlen Field,805901.0,102,101
2984,2021,NL,WAS,WSN,E,5,162,81.0,65,97,...,5385,1388,272,20,182,Washington Nationals,Nationals Park,1465543.0,95,96

In [12]:
people_df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [13]:
people_trimmed_df = people_df[['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame']]

In [14]:
people_trimmed_df.dtypes

playerID         object
birthYear       float64
birthMonth      float64
birthDay        float64
birthCountry     object
birthState       object
birthCity        object
nameFirst        object
nameLast         object
nameGiven        object
weight          float64
height          float64
bats             object
throws           object
debut            object
finalGame        object
dtype: object

In [15]:
people_trimmed_df.sample(10)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame
6983,gramlto01,1945.0,4.0,19.0,USA,TX,Dallas,Tommy,Gramly,Bert Thomas,175.0,75.0,R,R,1968-04-18,1968-05-21
8939,jansela01,1920.0,7.0,16.0,USA,OR,Verboort,Larry,Jansen,Lawrence Joseph,190.0,74.0,R,R,1947-04-17,1956-09-25
9624,kerinjo01,1858.0,7.0,15.0,USA,IN,Indianapolis,John,Kerins,John Nelson,177.0,70.0,R,R,1884-05-01,1890-06-15
17428,sprinje01,1992.0,9.0,20.0,USA,NC,Belmont,Jeffrey,Springs,Jeffrey Scott,218.0,75.0,L,L,2018-07-31,2021-07-31
12113,mcphebi01,1859.0,11.0,1.0,USA,NY,Massena,Bid,McPhee,John Alexander,152.0,68.0,R,R,1882-05-02,1899-10-15
18667,twombge01,1892.0,6.0,4.0,USA,MA,Boston,George,Twombly,George Frederick,165.0,69.0,R,R,1914-07-09,1919-09-01
10434,lefebbi01,1915.0,11.0,11.0,USA,RI,Natick,Bill,LeFebvre,Wilfred Henry,180.0,71.0,L,L,1938-06-10,1944-09-29
18559,tremebi01,1929.0,7.0,4.0,USA,PA,Lilly,Bill,Tremel,William Leonard,180.0,71.0,R,R,1954-06-12,1956-04-27
16695,shawbo01,1933.0,6.0,29.0,USA,NY,Bronx,Bob,Shaw,Robert John,195.0,74.0,R,R,1957-08-11,1967-09-11
14929,raicher01,1951.0,11.0,1.0,USA,MI,Detroit,Eric,Raich,Eric James,225.0,76.0,R,R,1975-05-24,1976-09-12

In [27]:
import psycopg2
import sqlalchemy
from config import db_password

conn_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/baseball_attendance_analysis"

engine = sqlalchemy.create_engine(conn_string)

In [17]:
people_trimmed_df.to_sql(name='people', con=engine, if_exists='replace')
    
print("People df import complete.")

People df import complete.

In [18]:
appearances_trimmed_df.dtypes

yearID         int64
teamID        object
playerID      object
G_all          int64
G_batting      int64
G_defense    float64
dtype: object

In [19]:
appearances_trimmed_df.to_sql(name='appearances', con=engine, if_exists='replace')
    
print("Appearances df import complete.")

Appearances df import complete.

In [20]:
teams_trimmed_df.dtypes

yearID          int64
lgID           object
teamID         object
franchID       object
divID          object
Rank            int64
G               int64
Ghome         float64
W               int64
L               int64
DivWin         object
WCWin          object
LgWin          object
WSWin          object
R               int64
AB              int64
H               int64
2B              int64
3B              int64
HR              int64
name           object
park           object
attendance    float64
BPF             int64
PPF             int64
dtype: object

In [21]:
# renaming to facilitate postgres etl
teams_trimmed_df.rename(columns = {'2B': 'double', '3B': 'triple'}, inplace=True)

In [22]:
teams_trimmed_df.dtypes

yearID          int64
lgID           object
teamID         object
franchID       object
divID          object
Rank            int64
G               int64
Ghome         float64
W               int64
L               int64
DivWin         object
WCWin          object
LgWin          object
WSWin          object
R               int64
AB              int64
H               int64
double          int64
triple          int64
HR              int64
name           object
park           object
attendance    float64
BPF             int64
PPF             int64
dtype: object

In [23]:
teams_trimmed_df[['name', 'park']]

                      name                           park
2181        Atlanta Braves  Atlanta-Fulton County Stadium
2182     Baltimore Orioles    Oriole Park at Camden Yards
2183        Boston Red Sox                 Fenway Park II
2184     California Angels                Anaheim Stadium
2185     Chicago White Sox               Comiskey Park II
...                    ...                            ...
2980   St. Louis Cardinals              Busch Stadium III
2981        Tampa Bay Rays                Tropicana Field
2982         Texas Rangers               Globe Life Field
2983     Toronto Blue Jays                   Sahlen Field
2984  Washington Nationals                 Nationals Park

[804 rows x 2 columns]

In [25]:
teams_trimmed_df.to_sql(name='teams', con=engine, if_exists='replace')
    
print("Teams df import complete.")

Teams df import complete.

In [30]:
# still in progress: generating read call in sqlalchemy to pull data from defined view
metadata = sqlalchemy.MetaData()
test_view = sqlalchemy.Table('test_view', metadata)

In [31]:
db.select(test_view)

Table('test_view', MetaData(), schema=None)