In [1]:
# how many were from the south?
# an unsoiphsticated person from a rural area; hick
# how many went to college?  how prestigious were those colleges?
# how many were from small towns?

In [14]:
import pandas as pd
import os.path
import matplotlib.pyplot as plt
import numpy as np

In [2]:
people_csv = os.path.join("Resources", "baseballdatabank-master", "core", "People.csv")
# college_csv = os.path.join("Resources", "baseballdatabank-master", "core", "People.csv")

people_df = pd.read_csv(people_csv)
people_df.head(5)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [3]:
rubes_df = people_df.loc[(people_df["nameFirst"] == "Rube")]

In [4]:
rubes_df.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [6]:
columns = ["playerID", "nameFirst", "nameLast", "nameGiven", "birthCity", "birthState", "birthYear", "deathCity", "deathState", "deathYear"]
rubes_df[columns]

,playerID,nameFirst,nameLast,nameGiven,birthCity,birthState,birthYear,deathCity,deathState,deathYear
1277,bentoru01,Rube,Benton,John Cleave,Clinton,NC,1890.0,Dothan,AL,1937.0
1997,bressru01,Rube,Bressler,Raymond Bloom,Coder,PA,1894.0,Mount Washington,OH,1966.0
4413,degroru01,Rube,DeGroff,Arthur Sleight,Hyde Park,NY,1879.0,Poughkeepsie,NY,1955.0
4560,dessaru01,Rube,Dessau,Frank Rolland,New Galilee,PA,1883.0,York,PA,1952.0
5211,ehrharu01,Rube,Ehrhardt,Welton Claude,Beecher,IL,1894.0,Chicago,IL,1980.0
5272,ellisru01,Rube,Ellis,George William,Downey,CA,1885.0,Pico Rivera,CA,1938.0
5725,fischru01,Rube,Fischer,Reuben Walter,Carlock,SD,1916.0,Ashwaubenon,WI,1997.0
5964,fosteru01,Rube,Foster,George,Lehigh,OK,1888.0,Bokoshe,OK,1976.0
5965,fosteru99,Rube,Foster,Andrew Bishop,La Grange,TX,1879.0,Kankakee,IL,1930.0
6540,geyerru01,Rube,Geyer,Jacob Bowman,Allegheny,PA,1884.0,Wahkon,MN,1962.0
9772,kisinru01,Rube,Kisinger,Charles Samuel,Adrian,MI,1876.0,Huron,OH,1941.0
10026,krohru01,Rube,Kroh,Floyd Myron,Friendship,NY,1886.0,New Orleans,LA,1944.0
10974,lutzkru01,Rube,Lutzke,Walter John,Milwaukee,WI,1897.0,Granville,WI,1938.0
11266,manniru01,Rube,Manning,Walter Sanderson,Chambersburg,PA,1883.0,Williamsport,PA,1930.0
11354,marquru01,Rube,Marquard,Richard William,Cleveland,OH,1886.0,Baltimore,MD,1980.0
11382,marshru01,Rube,Marshall,Roy DeVerne,Salineville,OH,1890.0,Dover,OH,1980.0
12219,meltoru01,Rube,Melton,Reuben Franklin,Cramerton,NC,1917.0,Greer,SC,1971.0
13465,novotru01,Rube,Novotney,Ralph Joseph,Streator,IL,1924.0,Redondo Beach,CA,1987.0
13618,oldriru01,Rube,Oldring,Reuben Henry,New York,NY,1884.0,Bridgeton,NJ,1961.0
13995,parnhru01,Rube,Parnham,James Arthur,Heidelberg,PA,1894.0,McKeesport,PA,1963.0
14349,peterru01,Rube,Peters,Otto Casper,Grantfork,IL,1885.0,Pompton Plains,NJ,1965.0
16306,schauru01,Rube,Schauer,Alexander John,Kamenka,NaN,1891.0,Minneapolis,MN,1957.0
16575,selleru01,Rube,Sellers,Oliver,Duquesne,PA,1881.0,Pittsburgh,PA,1952.0
18931,vickeru01,Rube,Vickers,Harry Porter,Hillsdale,MI,1879.0,Belleville,MI,1958.0
18963,vinsoru01,Rube,Vinson,Ernest Augustus,Dover,DE,1879.0,Chester,PA,1951.0
19020,wadderu01,Rube,Waddell,George Edward,Bradford,PA,1876.0,San Antonio,TX,1914.0
19068,walberu01,Rube,Walberg,George Elvin,Pine City,MN,1896.0,Tempe,AZ,1978.0
19111,walkeru01,Rube,Walker,Albert Bluford,Lenoir,NC,1926.0,Morganton,NC,1992.0
19223,wardru01,Rube,Ward,John Andrew,New Lexington,OH,1879.0,Akron,OH,1945.0
20153,yarriru01,Rube,Yarrison,Byron Wardsworth,Montgomery,PA,1896.0,Williamsport,PA,1977.0

In [7]:
#largely a nickname given to northerners?
rubes_df["birthState"].value_counts()

PA    8
NC    3
NY    3
IL    3
OH    3
MI    2
CA    1
SD    1
OK    1
TX    1
WI    1
DE    1
MN    1
Name: birthState, dtype: int64

In [12]:
rubes_birthyear = pd.Series(rubes_df["birthYear"])
rubes_birthyear

1277     1890.0
1997     1894.0
4413     1879.0
4560     1883.0
5211     1894.0
5272     1885.0
5725     1916.0
5964     1888.0
5965     1879.0
6540     1884.0
9772     1876.0
10026    1886.0
10974    1897.0
11266    1883.0
11354    1886.0
11382    1890.0
12219    1917.0
13465    1924.0
13618    1884.0
13995    1894.0
14349    1885.0
16306    1891.0
16575    1881.0
18931    1879.0
18963    1879.0
19020    1876.0
19068    1896.0
19111    1926.0
19223    1879.0
20153    1896.0
Name: birthYear, dtype: float64

In [13]:
# # create bins for segmenting schools based on per capita budget
# spending_bins = [0, 585, 630, 645, 675]
# group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
# # create segment data using cut() and then identify schools in buckets using groupby() and count()
# per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()
# per_school_results_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

rubes_birthyear.describe()

count      30.000000
mean     1890.566667
std        13.584178
min      1876.000000
25%      1881.500000
50%      1886.000000
75%      1894.000000
max      1926.000000
Name: birthYear, dtype: float64

In [29]:
year_bins = np.arange(1875,1931,step=5.0)
group_names = [
    "1876-1880",
    "1881-1885",
    "1886-1890",
    "1891-1895",
    "1896-1900",
    "1901-1905",
    "1906-1910",    
    "1911-1915",
    "1916-1920",
    "1921-1925",
    "1926-1930"
]

rubes_range = pd.cut(rubes_birthyear, year_bins, labels=group_names)

1277     1886-1890
1997     1891-1895
4413     1876-1880
4560     1881-1885
5211     1891-1895
5272     1881-1885
5725     1916-1920
5964     1886-1890
5965     1876-1880
6540     1881-1885
9772     1876-1880
10026    1886-1890
10974    1896-1900
11266    1881-1885
11354    1886-1890
11382    1886-1890
12219    1916-1920
13465    1921-1925
13618    1881-1885
13995    1891-1895
14349    1881-1885
16306    1891-1895
16575    1881-1885
18931    1876-1880
18963    1876-1880
19020    1876-1880
19068    1896-1900
19111    1926-1930
19223    1876-1880
20153    1896-1900
Name: birthYear, dtype: category
Categories (11, object): ['1876-1880' < '1881-1885' < '1886-1890' < '1891-1895' ... '1911-1915' < '1916-1920' < '1921-1925' < '1926-1930']

In [31]:
rubes_range_rollup = rubes_range.groupby(group_names).count()

KeyError: '1876-1880'